*{
    margin: 0;
    padding: 0;
}

.navbarContent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#img{
  margin-top: 9rem;
  margin-left: 1.9rem;
  width: 50vw;
}


@media (max-width:800px) and (min-width:300px){
  #items{
    
    margin-left: 1.7rem;
  }
  #img{
    height: 18rem;
    width: 18rem;
    margin-right: 4rem;
  }

}